:not(.ui.image, .footer) {
  /* margin-left: 5px;
  margin-right: 5px; */
  padding-left: 5px;
  padding-right: 5px;
  /* margin: auto; */
}

.wmcode-page {
  margin: 0vh 2vw;
}

.wmcode-page ul,
ol {
  margin-left: 4vw;
}

.wmcode-page pre {
  /* margin-left: 4vw; */
  background-color: #fef9c7;
  padding: 20px;
  border-radius: 20px;
  /* padding-left: 0px; */
}

.codeblock {
  width: 71vw;
  margin: auto;
}

button {
  font-weight: bolder;
}

.UI.Menu.Item {
  font: bolder;
}

.ui.container {
  padding-left: 30px;
  padding-right: 30px;
}

hr {
  width: 80%;
  padding-bottom: 40px;
  border-bottom: 0;
  border-right: 0;
  border-left: 0;
}

.footer {
  background-color: #edeae5;
  /* width: 100vw; */
  text-align: center;
  margin: auto;
  margin-top: 5vh;
  padding-bottom: 1vh;
  /* align-self: flex-start; */
}

.carousel {
  width: 75vw;
  margin: auto;
  margin-bottom: 10vh;
  margin-top: 10vh;
}

.carousel-slides {
  width: 70vw;
  margin: auto;
}

.pagination {
  margin-left: 4vw;
}

.embedded {
  width: 70vw;
  height: 70vh;
  margin: auto;
  text-align: center;
  /* border: 5px solid blueviolet; */
}

.embedded iframe {
  width: 70vw;
  height: 70vh;
  margin: auto;
  /* border: 5px solid green; */
}

/* Following CSS is from https://www.labnol.org/embed-google-slides-200615 */
.responsive-google-slides {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 Ratio */
  height: 0;
  overflow: hidden;
}
.responsive-google-slides iframe {
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

/* Link,
:focus,
:hover,
:visited,
:link,
:active {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  vertical-align: middle;
} */
